{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 45.8130967,
    "longitude": 15.9772795,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Zagreb",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "HR",
    "language": "en-GB",
    "radius": 100
  }
}